/*
Theme Name: New Theme Name
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: HC Theme
Author: Human_code
Author URI: http://www.humancode.ca;
template: bb-theme
*/

/* Add your custom styles here... */ 
/* Include image foreground in buiver builder */
.img-in-foreground .fl-row-content .fl-col-group {
    z-index:10!important; 
    position:relative!important;
}
