.pp-photo-container .pp-photo-align-left {
    text-align: left;
}
.pp-photo-container .pp-photo-align-center {
    text-align: center;
}
.pp-photo-container .pp-photo-align-right {
    text-align: right;
}

.pp-photo {
	line-height: 0;
	position: relative;
}
.pp-photo-align-left {
	text-align: left;
}
.pp-photo-align-center {
	text-align: center;
}
.pp-photo-align-right {
	text-align: right;
}
.pp-photo-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.pp-photo-content img {
	display: inline;
	max-width: 100%;
}
.pp-photo-crop-circle img {
	-webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
}
.pp-photo-caption {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
    width: 100%;
}
.pp-photo-caption-below {
	padding-bottom: 20px;
	padding-top: 10px;
}
.pp-photo-caption-overlay {
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px 15px;
	position: absolute;
	right: 0;
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
	transition:opacity 0.3s ease-in;
}
.pp-overlay-wrap .pp-overlay-bg {
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.pp-photo-caption-hover {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.pp-photo-container .pp-photo-content:hover .pp-overlay-bg,
.pp-photo-container .pp-photo-content:hover .pp-photo-caption-hover {
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.pp-photo-container a:focus {
    outline: none;
}
.pp-photo-container .pp-photo-content .pp-photo-content-inner {
    overflow: hidden;
    position: relative;
}
